<ng-template #content2 let-modal>
    <div class="modal-header">
      <h4 class="modal-title">View Order</h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <div class="card card-flush h-xl-100">
        <div class="kt-portlet__body">
          <div class="row">
            <div class="col-sm-12">
            
            </div>
          </div>
  
         
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-sm btn-flex btn-light fw-bold"
        (click)="modal.dismiss('Cross click')"
      >
        Close
      </button>
    </div>
  </ng-template>
  